<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weblog - private corner for your own thaughts</title>

    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/content.css">
</head>
<body>
    <nav>
        <a href="/index">Home</a>
        <a href="/new-blog">Write Blog</a>
    </nav>
    
</body>
</html>